@model ArsTest.Models.ars_Cotizacion

@{
    ViewBag.Title = "Cotizacion";
}

<h2>RegistraCotizacion</h2>
<script>
    function cargar () {
       
            $("#frmcotizacion").submit();
        };
    function Enviar() {
        $("#frmcotizacion").attr("action", "RegistraCotizacion");
        $("#frmcotizacion").submit();
    }

</script>

<div class="container">
    <form  method="post" class="form-inline" onsubmit="" id="frmcotizacion">
        <div class="row">
            <div class="form-group">
                <label for="cliente_id">Cliente</label>
                @Html.DropDownListFor(x=> x.cliente_id,Model.listaClientes,"seleccione un cliente",new {@class ="form-control" })
            </div>
            <div class="form-group">
                <label for="estimacion_cliente" >Valor Estimacion:</label>
                <input type="text" class="form-control" name="estimacion_cliente" value="@Model.estimacion_cliente" id="estimacion_cliente" />
            </div>
            <div class="form-group">
                
             
                <label for="ramo_id">Ramos:</label>
                @Html.DropDownListFor(x => x.ramo_id, Model.listaRamos, "Seleccione Ramo", new { @class = "form-control", @onchange = "cargar()" })
              
            </div>
            <div class="form-group">
                <label for="plan_id">Planes:</label>
                @Html.DropDownListFor(x => x.plan_id, Model.listaPlanes, "Seleccione Plan", new { @class = "form-control", @onchange = "cargar()" })
            </div>
            <div class="row">
                <div class="table container">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Nombre Cobertura</th>
                            <th>Monto Cobertura</th>
                            <th>Monto Prima</th>
                            
                        </tr>
                        @{
                            if (ViewData["Cobertura"] != null) {
                            Conexion.Resultados dato = (Conexion.Resultados)ViewData["Cobertura"];
                            if (dato.dtResult.Rows.Count > 0)
                            {
                                foreach (System.Data.DataRow r in dato.dtResult.Rows)
                                {
                                   <tr>
                                       <td>@r["descripcion"].ToString()</td>
                                       <td>@((decimal.Parse(r["tasa_cobertura"].ToString()) * Model.estimacion_cliente)/100)</td>
                                       <td>@((decimal.Parse(r["prima"].ToString()) * Model.estimacion_cliente) / 100)</td>
                                   </tr>
                                    }
                                }
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="form-group pull-right">
                <label for="total_cotizacion">Total A Pagar:</label>
                <input type="text" class="form-control" readonly="readonly" name="total_cotizacion" value="@Model.total_cotizacion" id="total_cotizacion" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
               

                    <input type="submit" class="btn btn-info form-control" id="enviar" value="Enviar" onclick="Enviar()"  />
                

                
                
            </div>
        </div>
        
    </form>
    
   

</div>

